CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_DEVICE_hiwifi_hc5962=y

CONFIG_PACKAGE_automount=y
CONFIG_PACKAGE_autosamba=y
CONFIG_PACKAGE_ipv6helper=y

CONFIG_PACKAGE_luci-app-arpbind=y
#CONFIG_PACKAGE_luci-app-autoreboot=y
#CONFIG_PACKAGE_luci-app-cifsd=y #使用内核模块的 SAMBA 1/2/3 服务器，可以提供比 Samba3/4 这种用户态的程序提供高得多的性能和低延迟，大并发配合最近的内核态 antfs 的 NTFS 读写文件驱动，应该是补上了 OpenWrt 文件共享的性能问题.和 Samba 冲突
#CONFIG_PACKAGE_luci-app-cifs-mount=y #挂载网络硬盘
CONFIG_PACKAGE_luci-app-cpulimit=y
CONFIG_PACKAGE_luci-app-diskman=y
# CONFIG_PACKAGE_luci-app-diskman_INCLUDE_btrfs_progs is not set
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_lsblk=y
#CONFIG_PACKAGE_luci-app-ddns=y
CONFIG_PACKAGE_luci-app-eoip=y
CONFIG_PACKAGE_luci-app-eqos=y
CONFIG_PACKAGE_luci-app-hd-idle=y
CONFIG_PACKAGE_luci-app-mwan3=y
CONFIG_PACKAGE_luci-app-mwan3helper=y
CONFIG_PACKAGE_luci-app-mwol=y
CONFIG_PACKAGE_luci-app-nft-qos=y
CONFIG_PACKAGE_luci-app-qbittorrent=y
CONFIG_PACKAGE_luci-app-ramfree=y
CONFIG_PACKAGE_luci-app-samba4=y
CONFIG_PACKAGE_luci-app-ser2net=y
CONFIG_PACKAGE_luci-app-sqm=y
CONFIG_PACKAGE_luci-app-syncdial=y
CONFIG_PACKAGE_luci-app-timecontrol=y
CONFIG_PACKAGE_luci-app-timewol=y
CONFIG_PACKAGE_luci-app-transmission=y
CONFIG_PACKAGE_luci-app-udpxy=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-watchcat=y
CONFIG_PACKAGE_luci-app-wechatpush=y
CONFIG_PACKAGE_luci-theme-argon=y

CONFIG_PACKAGE_TURBOACC_INCLUDE_BBR_CCA=y
# CONFIG_PACKAGE_luci-app-filetransfer is not set






